.venv 
**/*.swp


# ignore large data files 
**/*.grib*
**/*.grb*
**/*.nc*
**/*.netcdf*
**/*.bz2

tmp*/

# ignore files created when you pip install omnisuite-viz in an another
# environment 
**/build/

**/__pycache__
**/*.egg-info
